.welcome{
    background: #c0c3c95c;
    padding-bottom: 300px;
}
.welcome img{
    width: 100%;
    height: 95%;
}
.wlc-text{
    padding: 200px 0px;
}
.wlc-text h3{
    font-family: "David Libre", serif;
    font-weight: 700;
    font-size: 60px;
    color: #101A24;
}
.wlc-text p{
    color: #5C6574;
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    padding-bottom: 30px;
}
.table{
    margin-left: 25px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 13.5px 31px;
    color: white;
    background: #EA6D27;
    text-decoration: none;
}
.menu{
    padding: 16px 35px;
    color: white;
    background: #101A24;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-decoration: none;
}